<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BarCrowd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09CD025C1FBB7D8000393BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CD02701FBB7D8200393BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09CD027B1FBB7D8200393BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
